body {
	font-family: 'Playfair Display', serif;
}

ul {
	list-style: none;
}





.navbar .navbar-nav .nav-link {
	color: #fff;
	font-size:1.1em;
	text-transform: uppercase;
}

.navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link:hover {
	color: #cd950c;
}

.navbar-dark {
	background: #11291f;
}

.navbar-brand h1 {
	font-size: 48px;
	line-height: 44px;
	letter-spacing: .5px;
	text-transform: uppercase;
	border-top: 4px solid #cd950c;
	padding-top: 20px;
}

.navbar-brand h1:hover {
	color: #cd950c;
}

.hero {
	background: url(../images/hero2.jpg);
  background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 20%;

}

.hero h3 {
	color: #cd950c;
}

.hero p {
	color: #fff;
}

.btn-primary {
	background-color: transparent;
	border-color: #fff;
	border-radius: 0px;
}

.btn-primary:hover {
	background-color: #fff;
	border-color: #fff;
	color: #11291f;
}

.footer {
	background: #11291f;
}

.footer-nav h5 {
	color: #cd950c;
	text-transform: uppercase;
}

.navbar-toggler {
	background: #285224;
	border: none;
}

.section-title {
	color:#cd950c;
	border-top: 2px solid #cd950c;
	border-bottom: 2px solid #cd950c;
	padding-top: 5px;
	padding-bottom: 9px;
}

.services a {
	color: #cd950c;
}

.services a:hover {
	color: grey;
}

.carousel-caption {
	color: #11291f;
}

.carousel-caption h5 {
	font-size: 2em;
}

.carousel-caption p {
	font-size: 1.2em;
}

.price {
	color: red;
	font-size: 1.4em;
}
